body {

}

.heading p {
  margin-top: -10px;
}

.container.title {
  margin-top: 20px;
}

#mainform {
  margin-top: 20px;
}

h2 {
  margin-top: 30px;
}

input.missing {
  border-color: red;
}

p {
  margin-bottom: 1rem;
}

input#submit {
  width: 150px;
}

div.footer {
  margin-top: 40px;
  padding: 10px;
  text-align: center;
}

.footer a {
  color: #999;
}

h1>a {
  text-decoration: none;
  color: inherit;
}

.row.footer2 {
    margin-top: 20px;
}

.statvalues {
  font-weight: bold;
  font-size: 2rem;
  display: block;
}

.statistics {
  border: 1px solid #ddd;
  border-radius: 3px;
  padding: 10px 20px 10px 20px;
}

.topnodes {
    border: 1px solid #ddd;
    border-radius: 3px;
    padding: 10px 10px 0 10px;
}

.topnodes ul li {
    display: inline;
    margin-right: 10px;
}

.patreon {
  border: 1px solid #f55;
  border-radius: 3px;
  padding: 10px 20px 10px 20px;
  margin-top: 20px;
}
