body {
  font-family: BlinkMacSystemFont,-apple-system,"Segoe UI",Roboto,Oxygen,Ubuntu,Cantarell,"Fira Sans","Droid Sans","Helvetica Neue",Helvetica,Arial,sans-serif;
}

.container.header {
  margin-top: 30px;
}

.heading p {
  margin-top: -10px;
}

.container.title {
  margin-top: 20px;
}

#mainform {
  margin-top: 20px;
}

h2 {
  margin-top: 30px;
}

input.missing {
  border-color: red;
}

p {
  margin-bottom: 1rem;
}

div.footer {
  margin-top: 40px;
  padding: 10px;
  text-align: center;
}

h1>a {
  text-decoration: none;
  color: inherit;
}

.row.footer2 {
    margin-top: 20px;
}

.statvalues {
  font-weight: bold;
  font-size: 2rem;
  display: block;
}

.statistics {
  border: 1px solid #ddd;
  border-radius: 3px;
  padding: 20px 10px;
}

.topnodes {
    text-align: center;
}

.topnodes ol {
  padding: 10px 30px;
}

.topnodes ol li {
    text-align: left;
}

.chart {
  margin-top: 15px;
}

.config-section {
  padding: 10px 30px;
  margin-bottom: 15px;
}

.patreon {
  border: 1px solid #f55;
  border-radius: 3px;
  padding: 10px 20px 10px 20px;
  margin-top: 20px;
}

.shariff {
  width: 800px;
  margin: 0 auto;
}

code {
  padding: 10px;
}